<html>
<head>
    {% if title %}
        <title>{{ title }} - E-Share</title>
    {% else %}
        <title>Welcome to E-Share</title>
    {% endif %}
</head>

<body>
<div>
    E-Share:
    <a class="nav-item nav-link" id="index" href="/">Home</a>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
    {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('login_submit') }}">Logout</a>
    {% endif %}
</div>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>
